<!-- navbar goes here -->
<nav class="bg-gray-100">
  <div class="max-w-6xl mx-auto px-4">
    <div class="flex justify-between">

      <div class="flex space-x-4">
        <!-- logo -->
        <div>
          <%= link_to root_path, class: "
              flex
              items-center
              py-5
              px-2
              text-gray-700
              hover:text-gray-900
            " do %>
            <%= image_tag asset_path("trello-logo.png"), class: " h-10" %>
          <% end %>
        </div>
      </div>
      <!-- secondary nav -->
      <div class="hidden md:flex items-center space-x-1">
        <% if current_user %>
          <div class="flex gap-4">
            <div class="hidden md:flex items-center space-x-1">
              <%= link_to "Create Kanban + ",
              new_board_path,
              class: "py-2 px-3 text-white bg-blue-600 hover:bg-blue-700" %>
            </div>
            <div>
              <%= button_to "Logout",
              destroy_user_session_path,
              method: :delete,
              class:
                "
                                                                                                                                                              py-2
                                                                                                                                                              px-3
                                                                                                                                                              bg-yellow-400
                                                                                                                                                              hover:bg-yellow-300
                                                                                                                                                              text-yellow-900
                                                                                                                                                              hover:text-yellow-800
                                                                                                                                                              rounded
                                                                                                                                                              transition
                                                                                                                                                              duration-300
                                                                                                                                                            " %>
            </div>
          </div>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "py-5 px-3" %>
          <%= link_to "Sign Up",
          new_user_registration_path,
          class:
            "
                                                                                                                                                                                                                                                              py-2
                                                                                                                                                                                                                                                              px-3
                                                                                                                                                                                                                                                              bg-yellow-400
                                                                                                                                                                                                                                                              hover:bg-yellow-300
                                                                                                                                                                                                                                                              text-yellow-900
                                                                                                                                                                                                                                                              hover:text-yellow-800
                                                                                                                                                                                                                                                              rounded
                                                                                                                                                                                                                                                              transition
                                                                                                                                                                                                                                                              duration-300
                                                                                                                                                                                                                                                            " %>
        <% end %>

      </div>
      <!-- mobile button goes here -->
      <div class="md:hidden flex items-center">
        <button class="mobile-menu-button">
          <svg
            class="w-6 h-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
        </button>
      </div>

    </div>
  </div>
  <!-- mobile menu -->
  <div class="mobile-menu hidden md:hidden">
    <a href="#" class="block py-2 px-4 text-sm hover:bg-gray-200">Features</a>
    <a href="#" class="block py-2 px-4 text-sm hover:bg-gray-200">Pricing</a>
  </div>
</nav>
